<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyShot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83AF64CF20AE5E3C00BB19EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83AF64E320AE5E4200BB19EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83AF64EE20AE5E4200BB19EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
